@charset "UTF-8";

body {
  font-family: Lato;
}

main {
  padding-top: 78px;
}

.inner {
  margin: 0 auto;
  width: 97%;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.header__inner__button {
  display: none;
}

.header__inner__humburger__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.header__inner__humburger__button span,
.header__inner__humburger__button span:before,
.header__inner__humburger__button span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ddd;
  position: absolute;
}

.header__inner__humburger__button span:before {
  bottom: 8px;
}

.header__inner__humburger__button span:after {
  top: 8px;
}

.header__inner__bolt__icon {
  color: #333;
  font-size: 48px;
}

.Theme {
  background-color: #f2f2f2;
}

.Theme__inner {
  padding: 160px 0 130px;
}

.Theme__inner__header {
  color: #74cfae;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
}

.Theme__inner__text {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.what-we-can-do {
  background-color: #74cfae;
}

.what-we-can-do__inner {
  text-align: center;
  padding: 50px 0 25px;
}

.what-we-can-do__textbox {
  margin-top: 20px;
}

.what-we-can-do__textbox__header {
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
}

.what-we-can-do__textbox__text {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin-top: 35px;
  word-break: normal;
}

.our-latest-work {
  background-color: #f2f2f2;
}

.our-latest-work__inner {
  padding: 60px 0 70px 0;
}

.our-latest-work__header {
  font-family: Raleway;
  font-size: 24px;
  text-align: center;
}

.our-latest-work__images {
  margin-top: 40px;
}

.our-latest-work__images li {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  height: 300px;
  opacity: 0.7;
  transition-duration: 0.3s;
  width: 300px;
}

.our-latest-work__images li:nth-child(3n + 4) {
  margin-top: 80px;
}

.our-latest-work__images li:hover {
  opacity: 1;
}

.our-latest-work__images li a {
  display: inline-block;
  height: 300px;
  width: 300px;
}

.our-latest-work__description {
  text-align: center;
  margin-top: 80px;
}

.our-latest-work__description__text {
  margin: 0 auto;
  word-break: normal;
}

.our-latest-work__description__button {
  background-color: #74cfae;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-top: 40px;
  padding: 14px 20px;
  text-decoration: none;
  transition-duration: 0.3s;
}

.our-latest-work__description__button:hover {
  color: #333;
}

.our-skills {
  background-color: #4e4e4e;
  text-align: center;
}

.our-skills__inner {
  padding: 70px 0 100px;
}

.our-skills__header {
  color: #fff;
  font-size: 24px;
}

.our-skills__graph {
  margin-top: 70px;
}

.our-skills__graph li{
  margin-top: 88px;
}

.our-skills__graph li:first-child {
  margin-top: 0;
}

.our-skills__graph li figure figcaption {
  color: #fff;
  font-size: 16px;
  padding-top: 16px;
}

.sns {
  background-color: #f2f2f2
}

.sns__inner {
  padding: 50px 0;
}

.sns__inner li {
  background-color: #f2f2f2;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.3s;
}

.sns__inner li:hover {
  background-color: #fff;
}

.sns__inner li a {
  display: inline-block;
  width: 185px;
}

.sns__inner li i {
  padding: 25px 0;
  color: #74cfae;
  font-size: 48px;
}


.footer {
  background-color: #74cfae;
}

.footer__text {
  color: #fff;
  padding: 20px 0 25px;
  text-align: right;
}


/* Pad */
@media screen and (min-width: 768px) {
  /* header */
  .header__inner__button {
    background-color: #74cfae;
    cursor: pointer;
    display: inline-block;
    padding: 14px 12px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    transition-duration: 0.3s;
  }
  
  .header__inner__button:hover {
    color:#333;
  }

  .header__inner__humburger {
    display: none;
  }
  
  /* Theme */
  .Theme__inner {
    padding: 250px 0;
  }
  
  .Theme__inner__header {
    font-size: 90px;
  }
  
  /* what-we-can-do */
  .what-we-can-do__textbox__text {
    width: 85%;
  }

  /* our-latest-work */
  .our-latest-work__description__text {
    width: 90%;
  }

  /* sns */
  .sns__inner {
    display: flex;
    justify-content: center;
    padding: 200px 0;
  }
}


/* PC */
@media screen and (min-width: 1200px) {
  
  .inner {
    margin: 0 auto;
    width: 1100px;
  }

  /* what-we-can-do */
  .what-we-can-do__inner {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0;
  }
  
  .what-we-can-do__textbox {
    margin-left: 140px;
  }
  
  .what-we-can-do__textbox__text {
    width: 650px;
  }

  /* our-latest-work */
  
  .our-latest-work__images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .our-latest-work__images li {
    margin-top: 80px;
    margin-left: 100px;
  }

  .our-latest-work__images li:nth-child(3n + 1) {
    margin-left: 0;
  }

  .our-latest-work__images li:nth-child(-n + 3) {
    margin-top:0;
  }

  .our-latest-work__description {
    align-items: start;
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }
  
  .our-latest-work__description__text {
    margin: 0;
    margin-right: 90px;
    width: 460px;
  }

  .our-latest-work__description__button {
    margin-top: 0;
  }
  
  /* our-skills */
  .our-skills__graph {
    display: flex;
    justify-content: center;
  }

  .our-skills__graph li {
    margin-left: 180px;
    margin-top: 0;
  }

  .our-skills__graph li:first-child {
    margin-left: 0;
  }

}