@charset "UTF-8";

body {
  font-family: Lato;
}

main {
  padding-top: 78px;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100000;
}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.header__inner__bolt__icon {
  color: #333;
  font-size: 48px;
}

.header__inner__button {
  background-color: #74cfae;
  cursor: pointer;
  padding: 14px 12px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  transition-duration: 0.3s;
  vertical-align: middle;
}

.header__inner__button:hover {
  color:#333;
}

.Theme {
  background-color: #f2f2f2;
}

.Theme__inner {
  padding: 250px 0;
}

.Theme__inner__header {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.Theme__inner__text {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.what-we-can-do {
  background-color: #74cfae;
}

.what-we-can-do__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 50px;
}

.what-we-can-do__textbox {
  margin-left: 140px;
  padding-top: 35px;
}

.what-we-can-do__textbox__header {
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
  text-align: center;
}

.what-we-can-do__textbox__text {
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
  text-align: center;
  width: 650px;
  word-break: normal;
}


.our-latest-work {
  background-color: #f2f2f2;
}

.our-latest-work__inner {
  padding: 60px 0 70px 0;
}

.our-latest-work__header {
  font-family: Raleway;
  font-size: 24px;
  text-align: center;
}

.our-latest-work__images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.our-latest-work__images li {
  cursor: pointer;
  height: 300px;
  margin-top: 80px;
  margin-left: 100px;
  opacity: 0.7;
  transition-duration: 0.3s;
  width: 300px;
}

.our-latest-work__images li:nth-child(3n + 1) {
  margin-left: 0;
}

.our-latest-work__images li:nth-child(-n + 3) {
  margin-top:0;
}

.our-latest-work__images li:hover {
  opacity: 1;
}

.our-latest-work__images li a {
  display: inline-block;
  height: 300px;
  width: 300px;
}

.our-latest-work__description {
  align-items: start;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.our-latest-work__description__text {
  margin-right: 90px;
  text-align: center;
  width: 460px;
  word-break: normal;
}

.our-latest-work__description__button {
  background-color: #74cfae;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  padding: 14px 20px;
  text-decoration: none;
  transition-duration: 0.3s;
}

.our-latest-work__description__button:hover {
  color: #333;
}


.our-skills {
  background-color: #4e4e4e;
  text-align: center;
}

.our-skills__inner {
  padding: 70px 0 100px;
}

.our-skills__header {
  color: #fff;
  font-size: 24px;
}

.our-skills__graph {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

.our-skills__graph li {
  margin-left: 180px;
}

.our-skills__graph li:first-child {
  margin-left: 0;
}

.our-skills__graph li figure figcaption {
  color: #fff;
  font-size: 16px;
  padding-top: 16px;
}


.sns {
  background-color: #f2f2f2
}

.sns__inner {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.sns__inner li {
  background-color: #f2f2f2;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.3s;
  width: 185px;
}

.sns__inner li:hover {
  background-color: #fff;
}

.sns__inner li a {
  display: inline-block;
  width: 185px;
}

.sns__inner li i {
  padding: 25px 0;
  color: #74cfae;
  font-size: 48px;
}


.footer {
  background-color: #74cfae;
}

.footer__text {
  color: #fff;
  padding: 20px 0 25px;
  text-align: right;
}